.vscode/
vendor/
composer.phar
composer-installer
*.swp
*.save
storage/cache/
storage/data/
config.ini
.DS_Store
module/ai/db.sqlite3
module/ai/sentence_tokenizer.pickle
module/ai/data.txt
