.vscode/
vendor/
composer.phar
composer-installer
*.swp
*.save
*.save.*
storage/cache/
storage/data/
config.ini
.DS_Store
module/bld/
module/toilet/update/enfc.php
module/toilet/update/request.php
public/php_errors.log
