/.vscode/
/vendor/
/composer.phar
/composer-installer
*.swp
*.save
/storage/cache/
/stroage/data/checkin/
/stroage/data/checkout/
/stroage/data/ciyaCount/
/stroage/data/cooldown/
/stroage/data/credit/
/stroage/data/insider/
/stroage/data/log/
/stroage/data/osu/
/stroage/data/recordStat/
/stroage/data/repeat/
/stroage/data/vote/
/stroage/data/credit.history/
/storage/data/stat.db
/stroage/data/error.log
